@import '../../../style/variables.scss';
.section{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .section-text-container{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: $smallestScreenSupported;
      width: calc(100vw * 0.7);
      max-width: $medScreens;
      margin: auto;

  }
  .section-arrow{
      margin-top: clamp(2rem, calc(100vh / 5) , 8.75rem);
      opacity: .75;
  }

  @media screen and (max-width: $medScreens){
    .section-text-container{
        padding: 0 5vw;

    }
  
  }