@import '../../../style/variables.scss';
.section{
    box-sizing: border-box;
    width: 100%;
    min-height: 650px;
    height: 110vh;
    margin: 0;
  }
  .section-text-container{
      height: 100%;
      min-width: calc($smallestScreenSupported - 50px);
      width: calc(100vw * 0.7);
      max-width: $medScreens;
      margin: auto;

  }
  .section-arrow{
      margin-top: clamp(2rem, calc(100vh / 5) , 8.75rem);
      opacity: .75;
      display: flex;
      align-items: center;
  }


  @media screen and (max-width: $medScreens){
    .section-text-container{
        padding: 2% 0;
        margin-top: 5rem;
        justify-content: flex-start !important;
    }
  
  }