.hero{
    width: 100%;
    height: 100vh;
    background-color: var(--dark-base);
    align-items: flex-end;
    justify-content: center;
}

.hero img{
    user-select: none;
    background-color: black;
    opacity: .65;
    z-index: 1;
    object-fit: cover;
}
.hero .hero-wave{
    background-color: var(--light-base);
    mix-blend-mode: hue;
    opacity: .50;
    object-position: 0 200px;
}
.hero .hero-container{
    z-index: 2;
    margin-bottom: 3.5rem;
    gap: 2.5rem;

    button{
        background-color: var(--dark-base);
        color: var(--light-base);
        font-weight: 700;
        border: 0;
        padding: 1.5rem 3rem;
        border-radius: .75rem;
        cursor: pointer;
        width: 50%;
    }
}
