.team{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
}

.member-container{
    display: flex;
    flex-direction: column;
    gap: 15rem;
    margin-bottom: 5rem;
}