@import '../../../style/variables.scss';
.info-card{
    width: 100%;
    min-height: var(--card-max-height);
    max-height: var(--card-max-height);
}
.card-image-container{
    width: var(--card-max-width);
}

.info-card-text-container{
    padding: 0 clamp(2rem, calc(25vw / 6) ,10rem);
    gap: 2.25rem;
}

@media screen and (max-width: $medScreens) {
    .info-card-text-container{
        display: none !important;
    }
    .card-image-container .image-card-circle-arrow{
        display: block !important;
    }
}
@media screen and (max-width: $largeScreens){
    .info-card-text-container{
        flex: 4 !important;
    }
    .card-image-container{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }       

}
@media screen and (min-width: calc($largeScreens + 1px)){
    .card-image-container .image-card.scale{
        width: $cardMaxWidth;
        height: 100%;
    }
}