@import './style/variables.scss';
@import './style/links.scss';
@import './style/text.scss';
@import './style/display-classes.scss';



p, h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  color: inherit;
  &:visited{
    color: inherit;
  }
}

.secondary{
  opacity: .75;
}
.dark-mode{
  background-color: $darkBase;
  color: $lightBase;
}
.light-mode{
  color: $darkBase;
  background-color: $lightBase;
}
.text-light{
  color: $lightBase;
}
.text-dark{
  color: $darkBase;
}
.dark{
  background-color: $darkBase;
}
.light{
  background-color: $lightBase;
}



