@import '../../../style/variables.scss';
.image-card{
    min-width: $cardMinWidth;
    min-height: $cardMinHeight;
}
.image-card.scale{
    h2{
        font-size: clamp(2rem, calc(100vw * 0.083) ,4rem);
    }
    min-width: $cardMinWidth;
    min-height: $cardMinHeight;
    max-width: $cardMaxWidth;
    max-height: $cardMaxHeight;
    width: calc(90vw /2) !important;
    height: calc(110vw /2) !important;

}
.image-card h2{
    z-index: 2;
    color: var(--light-base);
    background: var(--dark-base);
    opacity: .75;
    font-weight: 900;
    font-size: 4rem;
}
.image-card span{
    z-index: 2;
}
.image-card img{
    object-fit: fill;
    border-radius: inherit;
}
.card-show-button span{
    display: block;
}